<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khodroyar.app">

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name=".ui.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.FaultEditActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".ui.MainActivity"/>

        <activity android:name=".ui.FaultDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"/>
    </application>
</manifest>
